.horizontal-list {
  display: flex;
  height: 500px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  padding: 0 16px;

  &-container {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
